---
title: Nutils Readme
---
<p>A set of utilities for Nanoc3.</p>

<%
  filters = @items.select { |i| i[:type] == "filter" }
  data_sources = @items.select { |i| i[:type] == "data_source" }
%>

<% unless filters.nil? %>
  <h2>Filters</h2>
  <% filters.each do |filter| %>
    <h3><%= filter[:title] %> (<%= filter[:version] %>)</h3>
    <%= md_to_html filter[:description] %>
    <% unless filter[:parameters].nil? %>
      <h4>Parameters</h4>
      <dl>
      <% filter[:parameters].each do |name, description| %>
        <dt><code><%= name %></code></dt>
        <dd><%= description %></dd>
      <% end%>
      </dl>
    <% end%>

    <% unless filter[:example].nil? %>
      <h4>Example</h4>
      <pre><code><%= filter[:example] %></code></pre>
    <% end %>

    <% unless filter[:contributors].nil? %>
      <h4>Contributors</h4>
      <ul>
        <% filter[:contributors].each do |contributor| %>
          <li><%= h contributor %></li>
        <% end %>
      </ul>
    <% end %>

    <hr>
  <% end %>
<% end %>

<% unless data_sources.nil? %>
  <h2>Data Sources</h2>
  <% data_sources.each do |data_source| %>
    <h3><%= data_source[:title] %></h3>
    <%= md_to_html data_source[:description] %>

    <% unless data_source[:parameters].nil? %>
      <h4>Parameters</h4>
      <dl>
      <% data_source[:parameters].each do |name, description| %>
        <dt><code><%= name %></code></dt>
        <dd><%= description %></dd>
      <% end%>
      </dl>
    <% end%>

    <% unless data_source[:example].nil? %>
      <h4>Example</h4>
      <pre><code><%= data_source[:example] %></code></pre>
    <% end %>
    <% unless data_source[:contributors].nil? %>
      <h4>Contributors</h4>
      <ul>
        <% data_source[:contributors].each do |contributor| %>
          <li><%= h contributor %></li>
        <% end %>
      </ul>
    <% end %>
    <hr>
  <% end %>
<% end %>

<h2>Contact</h2>
<p>You can reach me at &lt;<a href="arnau.siches@gmail.com">arnau.siches@gmail.com</a>&gt;.</p>